@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMART AUDIT</h1>
    <p class="lead">Get it done the smart way! </p>
    <p><a href="/Definition" class="btn btn-primary btn-lg">Get Started Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What's it all about</h2>
        <p>Smart Audit ultimately helps achieve the following:</p>
        <ol>
            <li>Streamline Audit and Inspection Management</li>
            <li>Ensure Regulatory Compliance</li>
            <li>Effective Performance Monitoring</li>
            <li>Identify Operational Risks</li>
            <li>Collaboration</li>
        </ol>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>
                Administer and Define Audits
                <ul>
                    <li>Defining the audit, sections and questions</li>
                    <li>Help with defining the audit weighting give a set or questions and sections</li>
                    <li>automated scoring methodogies</li>
                    <li>ability to apply penalties to non-compliance</li>
                    <li>ability to reward through bonus questions where necessary</li>
                    <li>Import/Export Questions from Excel</li>
                </ul>
            </li>
            <li>
                Audit and Inspection Management
                <ul>
                    <li>Create audits </li>
                    <li>
                        Collaboration and Centralized corrective and preventive action plans through
                        <ul>
                            <li>actions and comments/feedback</li>
                            <li>sample data used</li>
                            <li>notifications</li>
                        </ul>
                    </li>
                    <li>attaching supporting documents</li>
                </ul>
            </li>
            <li>
                Reporting and Performance Monitoring through dashboards
                <ul>
                    <li>progress towards targets</li>
                    <li>Effectively identify non-conformities</li>
                    <li>Identify problem areas</li>
                </ul>
            </li>
        </ul>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>You can easily customize and develop your own interfaces through our comprehensive and easily to use web API.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>