
@{
    ViewBag.Title = "ShowAudit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Audit</h2>
<button type="button" onclick="document.location.href='/Audit'" class="btn btn-danger">Close</button>

